[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
"aiohttp-jinja2" = "*"
uvloop = "*"
aioreloader = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.7"
