[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
"aiohttp-jinja2" = "*"
uvloop = "*"
aioreloader = "*"
pyyaml = "*"
"psycopg2-binary" = "*"
asyncpg = "~=0.15.0"
asyncpgsa = "*"

[dev-packages]

[requires]
python_version = "3.7"
